
/*SECTION DF2U*/
#df2uSection {
    background: rebeccapurple;
}
.title-section {
	padding-bottom: 5rem;
}

.line-1 {
    width: auto;
    margin: -11px auto 0 auto;
    height: 100%;
    display: inline-block;
    left: 49.6%;
    position: absolute;
    opacity: .5;
}


.gallery--gridCircles {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.gallery--switch.gallery--gridCircles {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.gallery--gridCircles.gallery--switch .circle-left { grid-area: 1 / 1; }
.gallery--gridCircles.gallery--switch .circle-center { grid-area: 1 / 2; }
.gallery--gridCircles.gallery--switch .circle-right { grid-area: 1 / 3; }

.gallery--gridCircles:not(.gallery--switch) .circle-left { grid-area: 1 / 2; }
.gallery--gridCircles:not(.gallery--switch) .circle-center { grid-area: 1 / 2; }
.gallery--gridCircles:not(.gallery--switch) .circle-right { grid-area: 1 / 2; }

.gallery--gridCircles .captionBlockText {
    position: absolute;
    z-index: 99999;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.captionBlockText.is-visible {
    opacity: 1 ;
  }


.captionBlockText {
    text-align: left;
    line-height: 1;
    width: 40vw;
}
:root {
--title-size: clamp(5rem, 7.5vw, 10rem);
}

.captionBlockText h3 {
    font-size: calc(var(--title-size) * 0.40);
    letter-spacing: -0.025em;
    line-height: 1.02;
  }

  .split-lines {
    position: relative;
    display: inline-block;
    padding: 0.3em 0;
}
.split-lines .line {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: -0.4em 0;
}
.split-lines .line .single-line-inner {
    position: relative;
    display: inline-block;
    padding: 0.2em 0.1em;
}

.gallery--gridCircles .gallery__item {
    overflow: inherit !important;
}
.gallery--gridCircles .gallery__item svg {
    transform: none !important;
}
.gallery__item.circle-left svg, .gallery__item.circle-right svg {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.gallery--gridCircles .gallery__item.circle-center svg {
	width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
    margin: 0 auto;
    display: block;
    transform: scale(1.25, 1.25) !important
}
@media (max-height: 1460px) {
    .gallery--gridCircles .gallery__item.circle-center svg {
        transform: scale(1.15, 1.15) !important
    }
  }