/*SCORLL HORINZONTAL 3 > CONTENIDO*/

section#section-DotOrg {
    position: relative;
}

.project--intro--DotOrg {
    position: absolute;
    top: -110px;
    left: 3vw;
}


.scroll-hz3 {
    padding-bottom: 15rem;
}
.scroll-hz3 .item {
    padding-right: 10rem;
}


.animation-wrap {
    height: 100vh;
}
figure.sh3-content-1 {
    position: relative;
    width: 115vw;
    margin-left: 15vw;
    align-items: center;
}
figure.sh3-content-2 {
    position: relative;
    width: 112vw;
}

.bg-dot {
    height: 90%;
    margin-left: 15vw;
}
.bg-dot img {
    height: 100%;
}


.dot-screen-1 {
    position: absolute;
    right: 0;
    top: 22vh;
    width: 50vw;
    height: 66vh;
}
.dot-screen-1 video {
    max-width: 46vw;
    margin: auto;
    display: block;
    position: absolute;
    left: -0.5vw;
    right: 0;
    top: 4.9vh;
    border-radius: 30px;
    object-fit: cover;
    border: solid 2px #a9a9a9;
}

.content-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.dot-screen-1 .span-date {
    position: absolute;
    top: -7rem;
    left: -4rem;
}

.dot-screen-2 {
    position: absolute;
    right: 0;
    top: 5vh;
    width: 50vw;
    height: 66vh;
}
.dot-screen-2 video {
    max-width: 46vw;
    margin: auto;
    display: block;
    position: absolute;
    left: -5px;
    right: 0;
    top: 42px;
    border-radius: 30px;
    object-fit: cover;
    border: solid 2px #a9a9a9;
}

.scroll-hz3 .item.space {
    width: 458px;
}












/*Background Section*/
.dot-item-bg_1 {
    position: absolute;
    top: 34.2vh;
    left: 2.5vw;
    z-index: 0;
}
.dot-item-bg_2 {
    position: absolute;
    top: 18.2vh;
    left: 33.5vw;
    z-index: -1;
}


.dot-bg-cloud_1 {
    position: absolute;
    top: 10vh;
    left: -40vw;
    z-index: 0;
}
.dot-bg-cloud_2 {
    position: absolute;
    top: 26vh;
    left: -22vw;
    z-index: 0;
    width: 5vw;
}
.dot-bg-cloud_2 svg {
    width: 100%;
}
.dot-bg-cloud_3 {
    position: absolute;
    top: 0vh;
    left: -24vw;
    z-index: 0;
    width: 6vw;
}
.dot-bg-cloud_3 svg {
    width: 100%;
}


.dot-bg-bird_1 {
    position: absolute;
    top: 12vh;
    left: -12vw;
    z-index: 0;
}
.dot-bg-bird_2 {
    position: absolute;
    top: 5vh;
    left: 1vw;
}




.dot-bg-cloud_4 {
    position: absolute;
    top: 28vh;
    left: 9vw;
    z-index: 0;
}
.dot-bg-cloud_5 {
    position: absolute;
    top: 40vh;
    left: 23vw;
    z-index: 0;
}
.dot-bg-cloud_6 {
    position: absolute;
    top: 32vh;
    left: 34vw;
    z-index: 0;
}


.plant-1 {
    position: absolute;
    top: 0;
    left: -6rem;
    width: 350px;
}

.bg-dot_org {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    display: flex;
    align-items: center;
}
#content-anim-bg {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-bg {
    height: 100%;
}

.bg-stick {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}











/****** CLOUD ****/
@-webkit-keyframes animate-svg-stroke-cloud-1 {
    0% {
      stroke-dashoffset: 358.36566162109375px;
      stroke-dasharray: 358.36566162109375px;
    }
  
    100% {
      stroke-dashoffset: 716.7313232421875px;
      stroke-dasharray: 358.36566162109375px;
    }
  }
  
  @keyframes animate-svg-stroke-cloud-1 {
    0% {
      stroke-dashoffset: 358.36566162109375px;
      stroke-dasharray: 358.36566162109375px;
    }
  
    100% {
      stroke-dashoffset: 716.7313232421875px;
      stroke-dasharray: 358.36566162109375px;
    }
  }
  
  .cloud-init.item-active,
  .cloud-init.anim-iz {
      opacity: 0;
  }
  
  .cloud-init.item-active.active,
  .cloud-init.anim-iz.iz-active {
      opacity: 9;
    -webkit-animation: animate-svg-stroke-cloud-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
            animation: animate-svg-stroke-cloud-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
  }
  
  
  




/****** Bird ****/
.dot_bgBird_svg-1.item-active .anim-dot-right-1 {
    opacity: 0;
}
.dot_bgBird_svg-1.item-active .anim-dot-right-1 {
     opacity: 9;
  stroke-dashoffset: 534.6998901367188px;
  stroke-dasharray: 534.6998901367188px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.dot_bgBird_svg-1.item-active.active .anim-dot-right-1 {
  stroke-dashoffset: 1069.3997802734375px;
}


