/* html {
    overflow: hidden;
} */
:root {
	--align-end: flex-end;
	--align-start: flex-start; 
	--justify-content-end: flex-end; 
	--justify-content-start: flex-start; 
}
.content {
    position: relative;
}
.grid-hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
}

.grid-hero .grid__item {
	position: relative;
	will-change: transform;
	grid-column: var(--c);
	grid-row: var(--r);
}

.grid-hero .grid__item-img {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background-size: cover;
    background-position: 50% 50%;
    will-change: transform, opacity;
    display: flex;
    align-items: center;
}



.logo-hero {
    padding-bottom: 1.5rem;
}
.logo-hero {
    width: 120px;
    margin: 0 auto;
}
.logo-hero {
    animation: 1.5s ease-in infinite alternate crescendo;
}
@keyframes crescendo {
    0%{transform:scale(.9)}
    100%{transform:scale(1)}
}


.cover {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	gap: 25px
}

.cover__title {
    font-size: clamp(2rem, 6.5vw, 8rem);
    font-family: var(--font-helvetica);
    margin: 0;
    text-align: center;
    line-height: .6;
    padding-bottom: 1.514rem;
}

@media screen and (max-width: 1280px) {
	.cover__title {
		padding-bottom: 0;
	}
	.cover__subtitle {
		padding-top: 2rem;
	}
}

.cover__subtitle {
	font-size: 1.5vw;
	font-weight: 400;
	text-align: center;
}


.grid-hero video.parallax-object {
    position: absolute;
	overflow: hidden;
	border-radius: 12px;
}

.grid-hero video {
	overflow: hidden;
	border-radius: 8px;
}
.grid-hero .grid__item-img{
	display: flex;
}
.grid-hero .grid__item-img.ps-1 {
    align-items: var(--align-start);
}
.grid-hero .grid__item-img.ps-2 {
    align-items: var(--align-end);
}
.grid-hero .grid__item-img.ps-3 {
    margin-left: -10rem;
}
.grid-hero .grid__item-img.ps-4 {
    align-items: var(--align-start);
	justify-content: var(--justify-content-end);
}
.grid-hero .grid__item-img.ps-4 video{
	margin-right: -8rem;
}
.grid-hero .grid__item-img.ps-5 {
    margin-left: -12rem;
}
.grid-hero .grid__item-img.ps-7 {
    align-items: var(--align-start);
}
.grid-hero .grid__item-img.ps-6 {
    align-items: var(--align-start);
}
.grid-hero .grid__item-img.ps-8 {
    align-items: var(--align-end);
}
