/** SECTION TABLEAU**/
.box-date-2022 .d-flex-center {
  display: flex
;
  align-items: center;
  gap: 55px;
}
#section-Tableau .gallery__item-inner {
  transform: scale(1) !important;
}

.boxdate-2022 {
  -ms-flex: 0 0 51.5%;
  flex: 0 0 51.5%;
  max-width: 51.5%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}
.boxdate-2022 .d-flex-center {
  display: flex;
  align-items: center;
  gap: 55px;
}

@media (max-width: 1280px) {
    .boxdate-2022 {
           max-width: 52%;
    }
}

.gallery__item-inner video {
    position: absolute;
    object-fit: cover;
    height: 100%;
}