/** SECTION TABLEAU**/
.box-date-2022 .d-flex-center {
  display: flex
;
  align-items: center;
  gap: 55px;
}
#section-Tableau .gallery__item-inner {
  transform: scale(1) !important;
}

.boxdate-2022 {
  -ms-flex: 0 0 51.3%;
  flex: 0 0 51.3%;
  max-width: 51.3%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}
.boxdate-2022 .d-flex-center {
  display: flex;
  align-items: center;
  gap: 55px;
}